* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body {
   font-family: 'Roboto', sans-serif;
   background: #fafafa;
   -webkit-tap-highlight-color: transparent;
}

.app p {
   text-align: center;
   margin: 10px 0;
}
